doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Admin Dashboard
    link(rel="stylesheet", href="/style.css")

  body
    nav
      .container
        h1
          a(href="/") Ibrahim's Blog
        ul
          li
            a(href="#") Home

          // If the user is not authenticated, show Sign Up and Login links
          if !isAuthenticated
            li
              a(href="/signup") Sign Up
            li
              a(href="/login") Login

          // If the user is authenticated, show Logout option
          if isAuthenticated
            li
              a(href="/admin/add-blog") Add Blog
            li
              a(href="/admin/admin-dashboard") Dashboard
            li
              form(action="/logout", method="POST")
                button(type="submit") Logout

            // Display user name and image when authenticated
            li
              a(href="/")
                img.nav-user-image(src=user.imgUrl, alt="User Image") 
                span.nav-user-name= user.userName

    main
      .container
        h2 Manage Articles
        button.btn(onclick="location.href='/admin/add-blog'") Add New Article
        .article-list
          each blog in blogs
            .article-item
              h3
                a(href=`/article?id=${blog._id}`) #{ blog.title }
              img.nav-user-image(src=blog.userId.imgUrl, alt="Author Image")
              span.nav-user-name #{ blog.userId.userName } 
              p Published on: #{ blog.date.toDateString() }
              .actions
                button.btn(
                  onclick=`location.href='/admin/edit-blog?id=${blog._id}'`
                ) Edit
                form(
                  action="/admin/delete-blog",
                  method="POST",
                  style="display: inline"
                )
                  input(type="hidden", name="blogId", value=blog._id)
                  button.btn-delete(type="submit") Delete
