doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Edit Article
    link(rel="stylesheet", href="/style.css")

  body
    // Include the navigation bar
    include ../includes/navbar.pug

    main
      .container
        form(action=`/admin/edit-blog?id=${blog._id}`, method="POST")
          label(for="title") Title
          input#title(
            type="text",
            name="title",
            placeholder="Article Title",
            value=blog.title
          )

          label(for="imageUrl") Image URL
          input#imageUrl(
            type="text",
            name="imageUrl",
            placeholder="Enter image URL",
            value=blog.imageUrl
          )

          label(for="content") Content
          textarea#content(
            name="content",
            rows=12,
            placeholder="Write your article here..."
          )= blog.description

          button.btn(type="submit") Edit
