doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{ blog.title }
    link(rel="stylesheet", href="style.css")

  body
    // Include the navigation bar
    include ../includes/navbar.pug

    article.article-page
      .container
        h1 #{ blog.title }
        .author-info
          img.author-image(src=blog.userId.imgUrl, alt="Author Image")
          span #{ blog.userId.userName }
        img.article-image(src=blog.imageUrl, alt="Article Image")
        p Published on: #{ blog.date }
        p.content #{ blog.description }
