doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Medium-Like Blog - Home
    link(rel="stylesheet", href="style.css")

  body
    // Include the navigation bar
    include ../includes/navbar.pug

    if errorMessage
      .user-message.user-message--error= errorMessage

    main
      .container
        h2 Latest Articles
        each blg in blogs
          .article-card
            h3
              a(href=`/article?id=${blg._id}`) #{ blg.title }

            // Create a container for the author info
            .author-info
              img.nav-user-image(src=blg.userId.imgUrl, alt="Author Image")
              span.nav-user-name #{ blg.userId.userName }

            p.nav-user-name Published on: #{ blg.date.toDateString() }
            p.excerpt #{ blg.description.substring(0, 120) }

//npx prettier --write "**/*.pug" --plugin="@prettier/plugin-pug"
