doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
    link(rel="stylesheet", href="/style.css")

  body
    // Include the navigation bar
    include ../includes/navAuth.pug

    if errorMessage
      .user-message.user-message--error= errorMessage

    main
      .authContainer
        h2 Login
        form(action="/login", method="POST")
          label(for="email") Email
          input#email(
            type="email",
            name="email",
            placeholder="Enter your email",
			value = email , 
            required
          )

          label(for="password") Password
          input#password(
            type="password",
            name="password",
            placeholder="Enter your password",
            required
          )

          button.btn(type="submit") Login
